/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

body {
  background-image: url(./IMG/Bitmap.jpg);
  background-repeat: no-repeat;
  background-size: 100% 200px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
} */
